<hr />
<footer class="container-fluid text-center">
    <div>
        Kjell Zijlemaker &copy; 2023
    </div>
        

    <!--Align three images next to each other, centered-->


   
    <div>
        <a href="https://github.com/KjellZijlemaker/personal-web/actions/workflows/workflow.yml">
            <img src="https://github.com/KjellZijlemaker/personal-web/actions/workflows/workflow.yml/badge.svg?branch=main" style="float: left; margin-right: 10px" class="img-responsive" alt="Image">
        </a>
        <a href="https://www.python.org/downloads/release/python-3113/">
            <img src="https://img.shields.io/badge/python-3.11.3-blue.svg" style="float: left; margin-right: 10px" class="img-responsive" alt="Image">
        </a>
        <a href="https://github.com/python-poetry/poetry/releases/tag/1.6.1">
            <img src="https://img.shields.io/badge/poetry-1.6.1-blue.svg" style="float: left; margin-right: 10px" class="img-responsive" alt="Image">
        </a>
    </div>
            

</footer>
</body>
</html>
