<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body> 
    
    <!-- Include the menu-->
    {% include 'menu.html' %}

    <!-- Generate a bootstrap portfolio html template-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Welcome!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                {% load static %}

                <img class="img-responsive" src="{% static '1598217454747.jpg' %}" alt="My Picture">
            </div>
            <div class="col-sm-8">
                <h2>About me</h2>
                <p>
                    Hello and welcome on my personal website. My name is Kjell Zijlemaker, am 30 years old and I am currently working as a Data Engineer at the Manucipality of Amsterdam.
                    <br />
                    I have a lovely daughter of nearly 2 and am married to my wife for 3 years now. Furthermore, we have a dog named Bregje :)
                    <br />
                    Here I will showcase any project I have done, my current and past education and my work experience.
                    <br />
                    <ul>
                        <li>On the homepage you can see a brief introduction about me and what I do.</li>
                        <li>On the top of the page you can find a menu with links to my resume and a contact form.</li>
                        <li>If you have any questions about what I do or if you want to contact me, please go to the contact me page.</li>
                        <li>For more information about my previous and current work experience, please go to the my resume page.</li>
                        <li>Finally, for any projects that I have done please go to the projects page.</li>
                    </ul>
                </p>
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h2>Hobbies And Projects</h2>
                <p>
                    As a Computer Scientist I love to keep myself busy with programming and learning new things. (aside from family and friends of course)
                    For example, this website is based on Django and Python. I have also used HTML, CSS and JavaScript to make this website.
                    You can see the code of this website on my <a href="https://github.com/KjellZijlemaker/personal-web">GitHub page</a>
                    <br />
                    Finally, when I have done some interesting projects, I will showcase them on this website. So stay tuned!
                </p>
                
            </div>
        </div>
        <div class="row" style="margin-top: 100px;">
            <div class="col-sm-4">
                <h2>Brief Overview Education</h2>
                <p>University of Amsterdam / Vrije Universiteit: Computer Science</p>
                <p>Hogeschool of Amsterdam: System and Network Engineer</p>
            </div>
            <div class="col-sm-4">
                <h2>Brief Overview: Experience</h2>
                <p>2023 - Present: Data Engineer at Manucipality of Amsterdam</p>
                <p>2021 - 2023: Cloud Engineer at Manucipality of Amsterdam</p>
                <p>2020 - 2021: Cloud Engineer at Avanade</p>
            </div>
            <div class="col-sm-4">
                <h2>Brief Overview Skills</h2>
                <p>HTML</p>
                <p>CSS</p>
                <p>JavaScript</p>
                <p>Python</p>
                <p>PHP</p>
                <p>SQL</p>
            </div>
        </div>
    </div>
    

    <!-- Include the footer-->
    {% include 'footer.html' %}

    <!-- Include the javascript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>