<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>  
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Kjell Zijlemaker</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="Kjell Zijlemaker">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    I am a PhD student at the University of Amsterdam. I am working on the project "The role of the hippocampus in the formation of episodic memories". 
                    I am interested in the neural mechanisms underlying memory formation and retrieval. 
                    I am also interested in the role of the hippocampus in memory formation and retrieval. 
                    I am also interested in the role of the hippocampus in memory formation and retrieval. 
                    I am also interested in the role of the hippocampus in memory formation and retrieval. 
                    I am also interested in the role of the hippocampus in memory formation and retrieval. 
                    I am also interested in the role of the hippocampus in memory formation and retrieval. 
                    I am also interested in the role of the hippocampus in memory formation and retrieval. 
                    I am also interested in the role of the hippocampus in memory formation and retrieval. 
                    I am also interested in the role of the hippocampus in memory formation and retrieval. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Hobbies</h2>
                <ul>
                    <li>Programming</li>
                    <li>Reading</li>
                    <li>Playing games</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Skills</h2>
                <ul>
                    <li>Programming</li>
                    <li>Reading</li>
                    <li>Playing games</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Education</h2>
                <ul>
                    <li>Programming</li>
                    <li>Reading</li>
                    <li>Playing games</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Work Experience</h2>
                <ul>
                    <li>Programming</li>
                    <li>Reading</li>
                    <li>Playing games</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Projects</h2>
                <ul>
                    <li>Programming</li>
                    <li>Reading</li>
                    <li>Playing games</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Publications</h2>
                <ul>
                    <li>Programming</li>
                    <li>Reading</li>
                    <li>Playing games</li>
                </ul>
            </div>

   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>